* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.return {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

nav {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  width: 200px;
  height: 45px;
  font-size: 24px;
  margin: 0 25px;
  border-radius: 10px;
  border-color: aliceblue;
  background-color: transparent;
  color: aliceblue;
  cursor: pointer;
  transition: background-color, color;
}

.btn:hover {
  border-color: black;
  background-color: aliceblue;
  color: black;
  transition: background-color, color, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.back {
  background-color: transparent;
  width: 45px;
  height: 45px;
  color: aliceblue;
  cursor: pointer;
  border-radius: 10px;
  border-color: aliceblue;
}

.back:hover {
  border-color: black;
  background-color: aliceblue;
  color: black;
  transition: background-color, color, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

section {
  background-color: black;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.ball {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 50vw;
  left: 50vw;
  animation: animationVertical 2s linear infinite alternate;
}

.ball_two {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  top: 50vh;
  left: 50vh;
  animation: animationHorizontal 4s linear infinite alternate;
}

.ball_three {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes animationVertical {
  from {
    top: 0;
  }
  to {
    top: calc(100vh - 20px);
  }
}
@keyframes animationHorizontal {
  from {
    left: 0;
  }
  to {
    left: calc(100vw - 20px);
  }
}
.stripe-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.stripe {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(to right, white, white 10%, black 10%, black 20%);
  white-space: wrap;
  animation: slide 8s 4s linear infinite;
}

.stripe-two {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(to right, white, white 10%, black 10%, black 20%);
  white-space: wrap;
  animation: slide-two 8s linear infinite;
}

@keyframes slide {
  to {
    left: 100%;
  }
}
@keyframes slide-two {
  to {
    left: 100%;
  }
}
.spiral-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spiral {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 830px;
  height: 830px;
  border-radius: 50%;
  background: repeating-conic-gradient(rgba(0, 0, 0, 0), #fff 1deg 18deg, rgba(0, 0, 0, 0) 20deg 36deg);
  animation: spin 4s infinite linear;
}

.spiral::before {
  content: "";
  border-radius: 50%;
  inset: 0;
  background: inherit;
  animation: inherit;
}

@keyframes spin {
  100% {
    transform: rotate(0.5turn);
  }
}/*# sourceMappingURL=style.css.map */