nav {
  height: 45vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.submenu {
  display: none;
}

.toggle {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
