.stripe-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.stripe {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    white,
    white 10%,
    black 10%,
    black 20%
  );
  white-space: wrap;
  animation: slide 16s 8s linear infinite;
}
.stripe-two {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    white,
    white 10%,
    black 10%,
    black 20%
  );
  white-space: wrap;
  animation: slide-two 16s linear infinite;
}

@keyframes slide {
  to {
    left: 100%;
  }
}
@keyframes slide-two {
  to {
    left: 100%;
  }
}
